/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-sprite_sample {
  background-image: url(./sprite.png);
  background-position: 0px 0px;
  width: 300px;
  height: 300px;
}
.icon-sprite_trash {
  background-image: url(./sprite.png);
  background-position: -305px 0px;
  width: 10px;
  height: 12px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-sprite_sample {
    background-image: url(sprite-2x.png);
    background-size: 315px 300px;
  }
  .icon-sprite_trash {
    background-image: url(sprite-2x.png);
    background-size: 315px 300px;
  }
}
